DB_HOST=localhost
DB_NAME=swimming_pool_g2
DB_USER=root
DB_PASSWORD=
DB_PORT=3306


# ---- rutas
APP_URL=http://localhost/natacion-grupo2/

# carga de assets
ASSET_URL=http://localhost/natacion-grupo2/public/

# --- config phpmailer
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587   
MAIL_USERNAME=tu-correo@gmail.com
MAIL_PASSWORD="tu-app-password-de-16-digitos"
MAIL_FROM=tu-correo@gmail.cm
MAIL_FROM_NAME=