# Entorno y Secretos
.env
.htaccess

# Dependencias (si usaran Composer más adelante)
/vendor/

# Archivos de Sistema
.DS_Store
Thumbs.db

# Logs
error_log
*.log
storage/*.log

# Ignorar todas las fotos de nadadores subidas
public/js/modules/auth/uploads/profiles/swimmers/*
public/js/modules/auth/uploads/profiles/swimmers/

# Excepciones: NO ignorar el archivo por defecto
!public/js/modules/auth/uploads/profiles/swimmers/default-profile.png

